        
        div {
            size: 150px;
            margin-right: 580px;
            margin-left: 575px;
            margin-top: 230px;
        }
        #searchbox {
            margin-right: 580px;
            margin-left: 427px;
            margin-top: 20px;
            border-radius: 25px;
            border: 1px solid lightgray;
            padding: 4px;
            width: 557px;
            height: 33px;
            font-size: medium;
            font-family: Arial;
        }
         #lucky {
            position: absolute;
            margin-right: 410px;
            margin-left: -564px;
            top: 409px;
            line-height: 30px;
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 5px;
            font-family: sans-serif;
            font-size: 14px;
            color: dimgray;
            padding: 0 16px;
            height: 35px;
            min-width: 54px;
            cursor: pointer;
        }
        #button {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 5px;
            font-family: sans-serif;
            font-size: 14px;
            color: dimgray;
            margin-right: 580px;
            margin-left: 560px;
            margin-top: 20px;
            padding: 0 16px;
            line-height: 30px;
            height: 35px;
            min-width: 54px;
            cursor: pointer;
        }
        #what {
            position: absolute;
            top: -210px;
            left: 640px;
            color: black;
            cursor: pointer;
            line-height: 24px;
            font-family: arial, sans-serif;
            font-size: 13px;
        }
        #why {
            position: absolute;
            top: -210px;
            left: 515px;
            color: black;
            cursor: pointer;
            line-height: 24px;
            font-family: arial, sans-serif;
            font-size: 13px;
        }
        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #sign {
            background-color: #1a73e8;
            border: 1px solid transparent;
            color: #fff;
            width: 96px;
            padding: 9px 23px;
            font-size: 15px;
            line-height: 16px;
            margin-left: 10px;
            margin-right: 8px;
            border-radius: 5px;
            position: absolute;
            top: 15px;
            left: 1315px;
            cursor: pointer;
        }